{% extends 'base.html' %}

{% block content %}
<div class="mx-auto bg-info text-primary text-center">
  {% block title %}Trash Collector
  <br> {% endblock %}
  
  {% block header %}Welcome{% endblock %}
  </div>
  
  <nav class="navbar navbar-expand-xxl bg-dark navbar-dark">
      <br>
      <br>
      <br>
    </div>
    <div class="float-center"></div>
    <div class="mx-auto bg-info text-primary text-center">
<body>  
{% if user.is_authenticated %}
  Hello {{ user.username }}. You don't have a group assigned. Please contact administrator or attempt to register again.
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in. Please log in or create an account.</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'accounts:register' %}">Sign Up</a>
  </body>
{% endif %}

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="carousel-item" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="carousel-item" data-bs-slide-to="1" class="active"></button>
    <button type="button" data-bs-target="carousel-item" data-bs-slide-to="2" class="active"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/image/login_photo.jpg" alt="trash collection" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/static/image/login_photo2.jpg" alt="Trash Truck" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/static/image/login_photo3.jpg" alt="Happy" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev" class="active">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next" class="active">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
{% endblock %}
{# This is the home page that allows a logged out user to register or log in #}