{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{user.username}}!
    <br />
    <br />
    <h3>Today is:</h3>
    <p>{{day_of_week}}</p>
    <p>{{today}}</p>
    
    <h3> Today's Customers are:</h3>

      <ul>
        {% for customer in non_suspended %}
        <p>{{customer.name}}</p>
        {% endfor %}
      </ul>
    <div class="mx-auto bg-info text-white text-center"><Centered</div>           
      {% load static %}<img class="img-fluid" src="/static/image_2/city.jpg" alt="city photo">
    </div>
      

      

      
      
    
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}