    
{% extends 'employees/employee_base.html' %}
<p>{{today}}</p>
{% block title %}{% block header %} Week at a Glance {% endblock %}{% endblock %}

{% block content %}



<form action="{% url 'employees:weekly_pickup' %}" method="post">
    {% csrf_token %}
    <label for="week">Select a Day of the Week:</label>
        <select name="week" id="week">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
    <input type="submit" value=Select>
</form action="{% url 'employees:weekly_pickup' %}" method="post">
<br />
<br />
<br />
    
    
   
you selected {{day_chose}}

    {% for customer in customer_today %}
    {{customer.name}}
    <!-- {{today}}
    {{day_entered}} -->
    {% endfor %}




                                   
   


{% endblock %}

