{% extends 'customers\customer_base.html' %}

{% block title %} One Time Pickup {% endblock %}

{% block header %} Choose A One Time Pickup {% endblock %}

{% block content %}
<br />
<form action="{% url 'customers:one_time' %}" method="post">
    {% csrf_token %}
    Date of Pick Up: <input class="rounded" type="date" name="date" id="date">
    <br />
    <br />
    <input class="rounded" type="submit" value="Submit">
</form>
<div class="mx-auto bg-info text-primary text-center"><Centered</div>           
{% load static %}<img class="img-fluid" src="/static/image/happy.jpg" alt="Happy Face">
</div>
<p>Click the links below to go to that section.</p>
       
<li class="nav-item">
<a class="nav-link active">
<a class="nav-item nav-link" href="{% url 'employees:index' %}">Home</a>
  <li class="nav-item">
<a class="nav-link active">
<a class="nav-item nav-link" href="{% url 'employees:edit_profile' %}">Edit Profile</a>        
<li class="nav-item">

{% endblock %}